* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lora', sans-serif;
  background-color: #f8f5f2;
  background-image: url('../assets/IMG/fondo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #333;
  min-height: 100vh;
}

/* MEDIA QUERIES PARA MÓVIL */
/* @media (max-width: 768px) { */
  /* body { */
    /* Ajustamos el foco del fondo para que se vean las flores */
    /* background-position: center center; */
    /* background-size: cover; */
  /* } */
/* } */

@media (max-width: 768px) {
  body {
    background-image: url('../assets/IMG/fondo_movil_format.png');
    background-position: center center;
    background-size: cover;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px 60px;
  text-align: center;
}

/* HERO */

.hero h1 {
  font-family: 'Dancing Script', cursive !important;
  font-size: 4rem;
  line-height: 1.2;
  color: #e4ba3a;
  margin-bottom: 10px;
}

.hero h2 {
  font-family: 'Dancing Script', cursive !important;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 10px;
}

.subtitle {
  color: #efa2a8;
  margin-bottom: 40px;
}

/* CARD */

.card {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  padding: 40px 30px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.06);
}

.message {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #7598c5;
  font-size: 1.5rem;
}

/* FECHA */

.date-box strong {
  display: block;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.date-box span {
  display: block;
  font-size: 1.15rem;
  margin-bottom: 15px;
}

/* EVENTOS */

.events {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.event-box {
  background: #faf8f6;
  border-radius: 14px;
  padding: 25px 20px;
  flex: 1;
  min-width: 240px;
}

.event-box h3 {
  margin-top: 0;
  color: #efa2a8;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1.3rem;
}

.event-box p {
  margin: 6px 0;
  color: #7598c5;
}

/* TEXTO FINAL */

.closing-text {
  font-size: 1.2rem;
  color: #e4ba3a;
  font-weight: 500;
  margin: 30px 0;
}

/* CTA */

/* .cta {
  display: inline-block;
  background: #c2a57d;
  color: #fff;
  padding: 14px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
} */

.cta {
  transition: all 0.3s ease;
}

.cta:hover {
  background: #b2966f;
  transform: translateY(-2px);
}



/* FOOTER */

.footer {
  margin-top: 50px;
  font-size: 0.9rem;
  color: #7598c5;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px 0;
  border-radius: 15px;
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.active {
  opacity:1;
  transform: translateY(0)
}

.whatsapp-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin-top: 30px;
  padding: 14px 26px;

  background: #b7d9c5;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  border-radius: 30px;

  box-shadow: 0 10px 20px rgba(37, 211, 102, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.whatsapp-btn img {
  width: 22px;
  height: 22px;
}

.whatsapp-btn:hover {
  background: #a7cfb8;
  transform: translateY(-2px);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 30px;
  flex-wrap: wrap; /* en móvil bajan en columna */
}

